@model List<hepsiburada.Entity.pc>
@{
    Layout="~/views/shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    

<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											
										</div>
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Detaylar</button>
										<img src="@item.link" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">@item.price</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h2 class="product-name"><a href="#">@item.marka @item.model</a></h2>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
											<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
											<a href="@Url.Action("SepeteEkle","Home", new {id = item.id})" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Sepete Ekle</a>
										</div>
									</div>
								</div>
							</div>
    
}